*{
    padding: 0px;
    margin: 0px;
}
header{
    background-image: linear-gradient( 90deg , rgb(181, 54, 128) 100px, rgb(81, 27, 111));
    border-bottom: 4px solid rgb(48, 186, 153) ;
    padding-right:20px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration:none;
}
.logo img{
    width: 150px;
    transform: scaleX(-1);
}
.logo h1{
    color: rgb(212, 212, 212);
    display: inline-block;
}
.logo h1:hover{
    text-shadow: 0px 0px 6px rgb(255, 255, 255);
    color: white;
}
.links{
display: flex;
justify-content: space-between;
align-items: center;
width:250px;
}
.links a{
    text-decoration: none;
    color: rgb(212, 212, 212);
}
.links a:hover{
    text-shadow: 0px 0px 6px rgb(255, 255, 255);
    color: white;
}
header input{
display: none; 
}
header input:checked ~ .links2{
right: 0px;
}
header input:checked ~ label .img1{
display: none;
}
header input:checked ~ label .img2{
display: inline-block;
}
header label{
    position: relative;
    display: none;
    right: 20px;
    width: 30px; 
    height: 47.619047px;
    box-sizing: border-box;
    transition: 1s ease;
    transition-delay: 0.2s;
    z-index: 3;
}
header label:hover{
    transform: rotate(720deg);
}
header label , header label:before, header label:after{
    background-color:#009688;
    border-radius: 3px;
}
header label:before, header label:after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}
header label:before {
    transform: rotate(60deg);
    z-index: 3;
}
header label:after {
    transform: rotate(-60deg);
    z-index: 5;
}
header label img{         
    position: absolute;
    top: 8.8px ;
    left: 0px;
    width: 100%;
    z-index: 6;
}
header label .img2{
    display: none;
}
header .links2{
    position: fixed;
    top:0px;
    right:-100%;
 background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height:100%;
    z-index: 2;
}
.links2 div{
    position: absolute;
    right: 0px;
    top: 0px;
    background-color: black;
    width: 70%;
    height:100%;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}
.links2 div a{
    text-decoration: none;
    color: rgb(212, 212, 212);
    margin-top: 10px;
    font-size: 25px;
}
.links2 div a:hover{
    text-shadow: 0px 0px 6px rgb(255, 255, 255);
    border: 2px solid black;
    color: white;
}
@media (max-width: 700px) {
.links {
    display: none;
}
header label{
   display: inline-block; 
}
}
@media (min-width: 1500px) {
header{
    padding-right: 10%;
    padding-left: calc( 10% - 20px);
}
}
@media (max-width: 440px) {
.logo img{
    width: 120px;
}
.logo h1{
    font-size:26px
}
header label{
    width: 20px; 
    height: 31.746px;
}
header label img{         
    position: absolute;
    top: 5.867px ;
}
}
@media (max-width: 345px) {
.logo img{
    width: 100px;
}
.logo h1{
    font-size:24px
}
header label{
    width: 15px; 
    height: 23.809px;
}
header label img{         
    position: absolute;
    top: 5.867px ;
}
}
a{
    text-decoration: none;
    color: azure
}








.mydiv{
    margin: 10px 50px;
    background: rgb(236, 162, 162);
    color: #009688;
    padding:80px
}
.mydiv h2{
    margin-bottom:50px 
}
.mydiv h3{
    text-transform: uppercase;
    margin-bottom: 30px
}








@import url("https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap");
:root {
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
  --font-sans: "Rubik", sans-serif;
  --font-serif: "Cardo", serif;
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  display: grid;
  place-items: center;
}

.page-content {
  display: flex;
  grid-gap: 1rem;
  padding: 1rem;
  max-width: 1024px;
  margin: 0 auto;
  font-family: var(--font-sans);
}
@media (min-width: 600px) {
  .page-content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 800px) {
  .page-content {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  width:100%;
  text-align: center;
  color: whitesmoke;
  background-color: whitesmoke;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
}
@media (min-width: 600px) {
  .card {
    height: 350px;
  }
}
.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: 0 0;
  transition: transform calc(var(--d) * 1.5) var(--e);
  pointer-events: none;
}
.card:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.32) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.54) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.79) 100%);
  transform: translateY(-50%);
  transition: transform calc(var(--d) * 2) var(--e);
}
.card:nth-child(1):before {
  background-image: url(https://images.unsplash.com/photo-1517021897933-0e0319cfbc28?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
}
.card:nth-child(2):before {
  background-image: url(https://images.unsplash.com/photo-1533903345306-15d1c30952de?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
}
.card:nth-child(3):before {
  background-image: url(https://images.unsplash.com/photo-1545243424-0ce743321e11?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
}
.card:nth-child(4):before {
  background-image: url(https://images.unsplash.com/photo-1531306728370-e2ebd9d7bb99?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  transition: transform var(--d) var(--e);
  z-index: 1;
}
.content > * + * {
  margin-top: 1rem;
}

.title {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.2;
}

.copy {
  font-family: var(--font-serif);
  font-size: 1.125rem;
  font-style: italic;
  line-height: 1.35;
}

.btn {
  cursor: pointer;
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 0.65rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: white;
  background-color: black;
  border: none;
}
.btn:hover {
  background-color: #0d0d0d;
}
.btn:focus {
  outline: 1px dashed yellow;
  outline-offset: 3px;
}

@media (hover: hover) and (min-width: 600px) {
  .card:after {
    transform: translateY(0);
  }

  .content {
    transform: translateY(calc(100% - 4.5rem));
  }
  .content > *:not(.title) {
    opacity: 0;
    transform: translateY(1rem);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
  }

  .card:hover,
.card:focus-within {
    align-items: center;
  }
  .card:hover:before,
.card:focus-within:before {
    transform: translateY(-4%);
  }
  .card:hover:after,
.card:focus-within:after {
    transform: translateY(-50%);
  }
  .card:hover .content,
.card:focus-within .content {
    transform: translateY(0);
  }
  .card:hover .content > *:not(.title),
.card:focus-within .content > *:not(.title) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: calc(var(--d) / 8);
  }

  .card:focus-within:before, .card:focus-within:after,
.card:focus-within .content,
.card:focus-within .content > *:not(.title) {
    transition-duration: 0s;
  }
}